# App mode requires Postgres and Redis.  Useful for centralized deployments or agency type setups.
DB_URL=postgres://postgres:postgres@localhost:15432/postgres
REDIS_URL=localhost:16379

# Isolation mode means Foxy works without a database via config files.
#SOURCE_CONFIG=./sample-source.config.json
#PRESETS=./presets.json

# Controls if source images are cached locally
USE_CACHE=true
CACHE_DIR=./cache/sources

# Controls if renders are cached locally
USE_RENDER_CACHE=true
RENDER_CACHE_DIR=./cache/renders

# Controls if source configs are cached in memory
USE_SOURCE_CONFIG_CACHE=true

# Require all URLs to be signed with a signature
REQUIRE_SIG_VALIDATION=true
ALLOW_PRESET_MANAGEMENT=true
# For the preset management API, this is only needed/used in isolation mode.  In app mode each app in the database
# has it's own secret key.
API_KEY=secret

# Due to a bug in libvips, in certain cases it is necessary to prerender images.  If you are running Docker, you
# most likely want to set this to true.
ALWAYS_PRERENDER=true
