DB_URL=postgres://postgres:postgres@localhost:15432/postgres
REDIS_URL=localhost:16379

USE_CACHE=true
CACHE_DIR=./cache/sources

USE_RENDER_CACHE=true
RENDER_CACHE_DIR=./cache/renders

USE_SOURCE_CONFIG_CACHE=true

REQUIRE_SIG_VALIDATION=true
ALLOW_PRESET_MANAGEMENT=true
