DB_URL=postgres://postgres:postgres@localhost:15432/postgres
REDIS_URL=localhost:16379
USE_CACHE=true
CACHE_DIR=./cache/sources
USE_RENDER_CACHE=true
RENDER_CACHE_DIR=./cache/renders
REQUIRE_SIGNATURE=true

DEFAULT_USER_NAME=admin
DEFAULT_USER_PASSWORD=changemeeventually
DEFAULT_USER_EMAIL=admin@example.com
DEFAULT_USER_KEY=c8emk0kejqj8rkpp
DEFAULT_USER_SECRET=Jxs4mwG6oJXSxDNLE6JWnMieNxBGqSD5
DEFAULT_USER_CONFIG_FILE=./sample-config.json
