.env
node_modules
docker/compreface/custom-builds
docker/app/db/*
!docker/app/db/.gitkeep
cache
.vscode
.idea
__debug_bin*
/_configs/
/configs/dev
/docker.config.json
/models/*.onnx
/debugimg/
/libs/
sample-images/source/*.jpg
sample-images/source/*.png
sample-images/source/*.svg
sample-images/source-cache/*.jpg
sample-images/source-cache/*.png
sample-images/source-cache/*.json
/fly.toml
